* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.bottom-nav {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

.comments-section {
  display: block;
  text-align: center;
  width: 100%;
}

.read-comments-button {
  margin-top: 25px;
  color: white;
  background-color: rgb(86, 123, 149);
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 2px;
}

.footer-nav {
  display: block;
  font-family: sans-serif;
  width: 100%;
}

.footer-nav-column {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}

.lower-half {
  font-family: serif;
  font-size: 1em;
}

.more-articles-section {
  display: inline-block;
  width: 70%;
}

.most-popular-articles {
  display: inline-block;
  width: 29%;
}

.related-articles-session {
  padding: 15px;
  display: block;
}

.the-new-york-times-banner {
  height: 36px;
}

.bottom-nav h6 {
  display: inline-block;
}

.bottom-nav ul {
  display: inline-block;
  padding: 3px;
}

.footer {
  padding: 25px;
}

.footer-nav h6 {
  font-size: 1.4em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.footer-nav-column * {
  display: block;
}

.lower-half h6 {
  font-size: 1.6em;
  font-weight: bold;
  margin-block-start: 1.4em;
  margin-block-end: 1.4em;
}

.more-articles-section * {
  display: block;
}

.related-articles-session * {
  vertical-align: top;
}

.bottom-nav * {
  padding: 5px;
}

.bottom-nav ul li {
  display: inline-block;
}

.more-articles-section ul li {
  display: inline-block;
  width: 32.5%;
}

.most-popular-articles ul li {
  border-top: 3px solid #ebebe0;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 3px;
  padding: 3px;
}

.bottom-nav ul li a {
  color: #000;
}

.footer-nav-column ul li a {
  color: #505050;
}

.more-articles-section ul li * {
  display: block;
  margin: 3px;
}

.most-popular-articles ul li a {
  color: #000;
}

.more-articles-section ul li figure figcaption {
  display: none;
}

.more-articles-section ul li figure img {
  display: inline-block;
  width: 100%;
}
