* {border: 1px solid red;}

*,*:before,*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {margin-top: 100px}

.main-container * {overflow: hidden}

.float-right {float: right;}

.float-left {float: left;}

.clear {
  clear: both;
  display: block;
}

.fixed-banner {
  position: fixed;
  background-color: #fff;
  width: 900px;
  height: 60px;
  overflow: hidden;
}

.icon-space {width: 300px;}

.icon-space h3 {padding-top: 15px}

.subscribe {
  margin-top: 10px;
  width: 250px;
}

.subscribe-button {
  height: 30px;
  width: 70px;
  margin-left: 10px;
  border-radius: 3px;
  color: white;
  background-color: #333;
}

.article-main-headline {
  font-family: cursive,georgia,serif;
  font-style: italic;
  text-align: center;
}

 img {
  max-width: 100%;
  height: auto;
}

.mid-article {
  width: 700px;
  margin: 0 auto;
}

img[alt="share-icons"] {height: 60px}

.space {
	display: block;
  height: 20px;
}

.bold {
  padding-right: 5px;
  font-weight: bold;}

.column-inflation {width: 170px}

.column-inflation img {
  display: block;
  width: 170px; 
  height: 130px;
}