/* * {border: 1px solid red;} */

body {
  font-size: 21px;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  margin-top: 100px
}

.main-container * {
  overflow: hidden
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear {
  clear: both;
  display: block;
}

.fixed-banner {
  position: fixed;
  top: 0;
  font-size: 16px;
  background-color: #fff;
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.icon-space {
  width: 300px;
}

.icon-space h3 {
  padding-top: 15px
}

img[alt="head-icon"] {
  padding-left: 10px
}

.subscribe {
  margin-top: 10px;
  width: 250px;
}

.subscribe-button {
  height: 30px;
  width: 70px;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #333;
}

.article-main-headline {
  font-family: cursive, georgia, serif;
  font-style: italic;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

img[alt="image-top"] {
  width: 90%;
  text-align: center;
}

.article-main-figure, .inflation {
  width: 1000px;
  margin: 0 auto;
}

.mid-col {
  width: 700px;
  margin: 0 auto;
}

small[class="mid-col"] {
  display: block
}

img[alt="share-icons"] {
  height: 60px
}

.space {
  display: block;
  height: 25px;
}

.bold {
  padding-right: 5px;
  font-weight: bold;
}

.column-inflation {
  height: 300px;
  width: 170px;
  margin: 5px;
}

.inflation-intro {
  margin-left: 35px;
}

.column-inflation img {
  width: 170px;
  height: 130px;
}

.columnInflation_snippet {
  width: 750px;
  height: 620px;
}

.authors {
  margin: 0 0 30px 35px;
}

.divider {
  display: block;
  height: 90px;
  width: 60px;
  border-bottom: 3px solid #000;
}